<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648078807844-4mq06h4mq64vu7sq473t49d10nj5lv06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648078807844-4mq06h4mq64vu7sq473t49d10nj5lv06</string>
	<key>API_KEY</key>
	<string>AIzaSyC-aUNIn-nRhWVxabqhVDbi_fAGDJPiVdk</string>
	<key>GCM_SENDER_ID</key>
	<string>648078807844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paulsukow.todolist</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-9850c</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-9850c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648078807844:ios:7e0e7f273d50b6d58119b1</string>
</dict>
</plist>